
@{
    ViewData["Title"] = "About Us";
}
<link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />
<body>

    <div class="container">
        <h1>About Us</h1>
        <p>
            <span class="highlight">KhumaloCrafts</span> was founded with a simple mission: to celebrate the joy of crafting and empower individuals to express their creativity through handmade artistry. What began as a passion project among a small group of craft enthusiasts has evolved into a thriving online community dedicated to all things handmade.
        </p>

        <p>
            <h2>Our Story</h2>
            <span class="highlight">KhumaloCrafts</span> was born out of a love for crafting and a desire to share that passion with others. As lifelong crafters ourselves, we understand the sense of fulfillment that comes from creating something beautiful with your own hands. We wanted to create a space where crafters of all skill levels could come together to learn, inspire, and support one another on their crafting journeys.
        </p>

        <p>
            <h2>Our Values</h2>
            At <span class="highlight">KhumaloCrafts</span> we believe in the power of creativity to bring people together and enrich lives. We're committed to fostering a welcoming and inclusive community where everyone feels empowered to explore their artistic talents. We value craftsmanship, innovation, and sustainability, and strive to promote ethical practices within the crafting industry.

        </p>

        <p>
            <h2>Our Vision</h2>
            At <span class="highlight">KhumaloCrafts</span> Our vision for Crafty Creations is to be the ultimate destination for crafters worldwide, providing a wealth of resources, inspiration, and community support. Whether you're a seasoned crafter or just starting out, we want to be your go-to source for all things handmade. We envision a world where creativity knows no bounds and where everyone feels inspired to unleash their inner artist.

        </p>
    </div>

</body>

