@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" />

<body>
    <video autoplay muted loop id="myVideo">
        <source src="~/media/Video.mp4" type="video/mp4">
    </video>

    <div class="content">
        <h1>Welcome to KhumaloCrafts</h1>
        <p>
            At KhumaloCraft, we celebrate the beauty of handmade crafts and the creativity of artisans worldwide.
            Whether you're a seasoned crafter or just starting your crafting journey, you'll find inspiration, tutorials, and a vibrant community to support you.
        </p>
        <p>
            Whether you're looking for inspiration, tutorials, or a place to share your passion for crafting,
            KhumaloCrafts is your go-to destination. Join our community and let your creativity flourish!
        </p>
        <button class="button"><span><a asp-page="/Work">Workspace</a></span></button>

    </div>

</body>


